* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: full;
}

.background {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgb(0, 0, 0, 0.7) 100%),
        url("https://assets.nflxext.com/ffe/siteui/vlv3/a73c4363-1dcd-4719-b3b1-3725418fd91d/fe1147dd-78be-44aa-a0e5-2d2994305a13/IN-en-20231016-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    background-size: 130%;
    background-position: center center;

}


.logo {
    width: 12%;
    position: absolute;
    left: 50px;
    top: 30px;
}


.card {
    width: 40%;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    display: grid;
    flex-direction: column;
    gap: 20px;
    color: white;
    width: 40%;
}

.card h3 {
    color: white;
    font-weight: 500;
    font-size: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form .buttons{
    display: flex;justify-content: space-between;width: 100%; gap: 10px;
}

.form .button {
    width: 100%;
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    border: 0;
}

.form input {
    color: black;
    font-size: 18px;
    padding: 14px;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    width: 100%;
    border: 0;
}

.form select {
    color: black;
    font-size: 18px;
    width: 100%;
    padding: 14px;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
}

